body {
  background-image: url(../../public/images/todo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Geist Mono", monospace;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
