body {
  background-image: url(../../public/coolbackgrounds-gradient-kale.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
