.sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #d6d0d0;
  height: 100vh;
}

.sidebar__title {
  font-size: 16px; 
  color: #1f2937; 
  font-weight: 600; 
  text-transform: uppercase; 
  letter-spacing: 0.5px; 
  margin-bottom: 12px;
}


.sidebar__list {
  list-style-type: none;
  padding: 0;
}

.sidebar__item {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

.sidebar__link {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
}


.sidebar__item:hover {
  background-color: #b9b6b6;
}

.sidebar__item.active {
  font-weight: bold;
  background-color: grey;
}
